VITE_API_KEY= #UnStock
VITE_GATEWAY_URL= #Pinata Gateway URL
VITE_BACKEND_URL=http://localhost:3000
VITE_API_URL=http://localhost:3000/

MYSQL_ROOT_PASSWORD= #root password for the MySQL database
MYSQL_DATABASE= #database name for the application
MYSQL_USER= #username for the database user
MYSQL_PASSWORD= #password for the database user
MYSQL_HOST=mysql #hostname or IP address of the MySQL server
MYSQL_PORT=3306 #port number for the MySQL server
