DATABASE_PASS = #Database Password
DB_HOST = #Database Host
DB_USER = #Database User
DB_NAME = #Database Name
JWT_SECRET = #JWT Secret Key

PINATA_API_KEY = #Pinata API Key
PINATA_SECRET_API_KEY = #Pinata Secret API Key
PINATA_BEARER_TOKEN = #Pinata Bearer Token

EMAIL_USER = #Email Address
EMAIL_PASS = #Email App Password

FIRST_ADMIN_USERNAME = #First Admin Username
FIRST_ADMIN_EMAIL = #First Admin Email
FIRST_ADMIN_PASSWORD = #First Admin Password